<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FileManager.Properties.Settings>
      <setting name="TargetLeft" serializeAs="String">
        <value />
      </setting>
      <setting name="TargetRight" serializeAs="String">
        <value />
      </setting>
      <setting name="ActualDirectoryLeft" serializeAs="String">
        <value />
      </setting>
      <setting name="ActualDirectoryRight" serializeAs="String">
        <value />
      </setting>
      <setting name="TargetDriveLeft" serializeAs="String">
        <value />
      </setting>
      <setting name="TargetDriveRight" serializeAs="String">
        <value />
      </setting>
      <setting name="Startup" serializeAs="String">
        <value />
      </setting>
      <setting name="RepetitiveRate" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="IsTls" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedServer" serializeAs="String">
        <value />
      </setting>
      <setting name="Servers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>10.10.13.252</string>
          </ArrayOfString>
        </value>
      </setting>
    </FileManager.Properties.Settings>
  </userSettings>
</configuration>
